@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
#Services, #Contact {
    background-color: #1f242d;
}
a {
  color: #fff;
  text-decoration: none;
}
header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
    background-color: #444444;
    display: flex;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/*nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}*/
nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
    margin-left: 35px;
}
nav ul li a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: .5s ease;
}
nav ul li:hover a,
nav ul li.active a{
    color: #835879;
}
nav ul li a.active {
    color: #835879; /* Couleur lorsque la section est active */
    border-bottom: 2px solid #835879;
}
.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 60px 9% 0;
    color: #fff;
    margin-top: 80px;
}
.Home-info h1 {
    font-size: 45px;
    margin-top: 10px;

}
.Home-info h2{
    font-size: 25px;
    margin-top: 20px;
}
.Home-info p{
    font-size: 13px;
    margin: 10px 0 25px;
}
.Home-info .btn-sci{
    display: flex;
    align-items: center;
}
#Home, #About{
    margin:0;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #835879;
    border: 2px solid #835879;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 12px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
    background: transparent;
    color: #835879;
    box-shadow: none;
}
.Home-info .btn-sci .sci{
    margin-left: 20px;
}
.Home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #835879;
    border-radius: 50%;
    font-size: 15px;
    color: #835879;
    margin: 0 6px;
    transition: .5s;
}
.Home-info .btn-sci .sci a:hover{
    background-color: #835879;
    color: #1f242d;
    box-shadow: 0 0 10px #835879;
}
.Home-img .img-box{
    position: relative;
    height: 25vw;
    width: 25vw;
    background-color: #1f242d;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.Home-img .img-box::before,
.Home-img .img-box::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    background: conic-gradient(transparent, transparent, transparent, #835879);
    border-radius: 50%;
}

.Home-img .img-box .img-item{
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #1f242d;
    border-radius: 50%;
    border: -1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.Home-img .img-box .img-item img{
    top: 0px;
    left: -10px;
    position: relative;
    display: block;
    width: 65%;
    mix-blend-mode: lighten;
}
/*@media (max-width: 850px) {
    .Home-info h2 {
      font-size: 35px;
    }
  }
  
  @media (max-width: 740px) {
    .Home-info {
    flex-direction: column;
  }
}*/
.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background-color: #1f242d ;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}
.bars li {
    position: relative;
    list-style: none;
    width: 100%;
    height: 5px;
    background: var(--primary-color);
    margin: 6px 0;
    transition: 0.5s;
    opacity: 0;
    animation: show-bars 0.5s ease forwards;
    /* Ajout du décalage pour chaque barre */
    animation-delay: calc(0.2s * var(--i)); 
}
  
@keyframes show-bars{
    100%{
        transform: translateY(0%);
    }
}
.About1{
    background-color: #1f242d;
    padding:20px 50px;
    margin-bottom: 0px;
}
.About1 h2{
    text-align: center;
    font-size: 36px;
    color: white ;
    margin: 20px 0 25px;
}

.About1 .cells{
    background-color: #1f242d;
    display: flex;
    justify-content: center;
    color: #fff;
}
.About1 .cells .cell{
    background-color: #1f242d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    margin: 2px;
    gap: 2px;
}
.About1 .cells .cell img{
    background-color: #1f242d;
    width: 40px;
    height: 40px;
    margin: 20px;
    border: 5px solid #835879;
    border-radius: 50%;
    object-fit: contain;

}
.About1 .cells .cell span{
    text-align: justify;
    background-color: #1f242d;
    font-size: 15px;
    gap: 0px;
}
.About1 p{
    background-color: #1f242d;
    color: white;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
    margin: 10px 0 25px;
}

/* Style de base pour la section Services */
#Services {
    background-color: #1f242d;
    padding: 50px 20px;
    text-align: center;
    margin: 0%;
}

#Services h2 {
    background-color: #1f242d;
    font-size: 36px;
    color: white;
    margin-bottom: 40px;
}

/* Conteneur des services */
.services-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* Style des items de service */
.service-item {
    background-color: #835879;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: calc(33.33% - 20px); /* 3 services par ligne */
    text-align: center;
    transition: transform 0.3s ease;
}

.service-item h3 {
    font-size: 24px;
    color: white;
    margin-bottom: 0px;
}

.service-item p {
    font-size: 16px;
    color: wheat;
    line-height: 1.6;
}

/* Effet au survol des items */
.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
.contact-section {
    background-color: #1f242d;
    padding: 20px 50px;
    margin-bottom: 0px;
  }
  
.contact-section h2 {
    background-color: #1f242d;
    font-size: 35px;
    color: white;
  }
  
  .contact-section .group {
    background-color: #1f242d;
    display: flex;
    gap: 50px;
  }
  .contact-section .group .text{
    font-family: 'Poppins', sans-serif;
    /*text-align: justify;*/
    flex: 3;
    color: white;
  }
  .contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
  }
  :root {
    --link-color: #835879; /* Example color */
  } 
.contact-section .group form input,
.contact-section .group form textarea {
  
    color: white;
    border: 1px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    outline: none;
    margin-bottom: 15px;
    resize: none;
}
.contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}
.contact-section .group form button:hover {
    filter: brightness(.9);
 }
/* Responsivité pour les petits écrans */
@media screen and (max-width: 768px) {
    .navbar a {
        font-size: 12;
        padding: 10px 0;
    }
    .navbar{
        padding: 5px 10px;
    }
    .Home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .Home-info h1{
        font-size: 30px;
    }
    .Home-info h2 {
        font-size: 19px;
    }
    .Home-info p {
        font-size: 12px;
    }
    .Home-img{
        order: 1;
    }
    .Home-info{
        order: 2;
    }
    .service-item {
        width: calc(50% - 20px); /* 2 services par ligne sur les écrans moyens */
    }
    .contact-section .group{
        flex-direction: column;
    }
    .portfolio-item {
        width: calc(50% - 20px);
    }
}
@media (max-width: 480px) {
    nav ul li a {
        font-size: 12px;
        padding: 8px 10px;
    }
    .home{
        height: auto;
        padding: 20px 5%;
    }
  #Home, #About{
        margin:0;
    }
    .service-item {
        width: 100%; /* 1 service par ligne sur les écrans mobiles */
    }
    .portfolio-item {
        width: 100%;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
.footer-content {
    max-width: 800px;
    margin: 0 auto;
}
  
.social-links a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
}
  
.social-links a:hover {
    color: #835879;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #835879;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
  
.back-to-top:hover {
    background-color: #444;
}
.portfolio-section {
    background-color: #1f242d;
    color: white;
    padding: 50px 20px;
    text-align: center;
}
  
.portfolio-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
  
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
.portfolio-item {
    background-color: #835879;
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.33% - 20px);
    transition: transform 0.3s ease;
}
  
.portfolio-item img {
    width: 100%;
    display: block;
}
  
.portfolio-info {
    padding: 15px;
}
  
.portfolio-info h3 {
    margin-bottom: 10px;
}
  
.portfolio-info p {
    font-size: 14px;
    margin-bottom: 10px;
}
  
.portfolio-info a {
    color: #fff;
    background-color: #444;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.portfolio-info a:hover {
    background-color: #835879;
}
  
/*@media (max-width: 768px) {
    .Home-info h1{
        font-size: 30px;
    }
    .Home-info h2 {
        font-size: 19px;
    }
    .Home-info p {
        font-size: 12px;
    }
    .portfolio-item {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .portfolio-item {
      width: 100%;
    }
  }*/
.portfolio-section {
  background-color: #1f242d;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.portfolio-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.portfolio-item {
  background-color: #835879;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.33% - 20px);
  transition: transform 0.3s ease;
}

.portfolio-item img {
  width: 100%;
  display: block;
}

.portfolio-info {
  padding: 15px;
}

.portfolio-info h3 {
  margin-bottom: 10px;
}

.portfolio-info p {
  font-size: 14px;
  margin-bottom: 10px;
}

.portfolio-info a {
  color: #fff;
  background-color: #444;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.portfolio-info a:hover {
  background-color: #835879;
}
.contact-section .group #msg {
    color: aqua;
    margin-top: 470px;
    display: block;
}
